{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="{% url 'index'%}" class="nav-logo">
            <img src="{%static './images/logo.svg'%}" alt="simply recipes" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="{% url 'index'%}" class="nav-link"> home </a>
          <a href="{% url 'about'%}" class="nav-link"> about </a>
          <a href="{% url 'tags'%}" class="nav-link"> tags </a>
          <a href="{% url 'recipes'%}" class="nav-link"> recipes </a>
         <div>
            <form method="get">
                   <input id = "q" name = "q" type="text" placeholder="your search...">
               </form>
         </div>
          <div class="nav-link contact-link">
            <a href="{% url 'contact'%} " class="btn"> contact </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <!-- main -->
    <main class="page">
      <!-- header -->
      <header class="hero">
        <div class="hero-container">
          <div class="hero-text">
            <h1>simply recipes</h1>
            <h4>no fluff, just recipes</h4>
          </div>
        </div>
      </header>
      <!-- end of header -->
      <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container">
          <h4>recipes</h4>
          <div class="tags-list">
            <a href="{%url 'tag_template'%}">Beef (1)</a>
            <a href="{%url 'tag_template'%}">Breakfast (2)</a>
            <a href="{%url 'tag_template'%}">Carrots (3)</a>
            <a href="{%url 'tag_template'%}">Food (4)</a>
          </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->

        <div class="recipes-list">
          {% for item in posts %}   
          <a href="{% url 'single_recipe_title' item.title %}" class="recipe">
            <img
              src="{%static './images/recipes/recipe-4.jpeg'%}"
              class="img recipe-img"
              alt=""
            />
            <!-- here is the title -->

            <h5><p>{{item.title}} </p></h5>
            <p>Prep : 15min | Cook : 5min </p>

          </a>
          <!-- end of single recipe -->
          {% endfor %}
          <!-- end of single recipe -->
        </div>
        <!-- end of recipes list -->
      </section>
    </main>
    <!-- end of main -->
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">SimplyRecipes</span> Built by
        <a href="https://www.johnsmilga.com/">Coding Addict</a>
      </p>
    </footer>
    <script src="{%static './js/app.js'%}"></script>
  </body>
</html>